<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
          <h2>My first blog post</h2>
        </div>

        <div>
          <h3>My first post</h3>
          <p>This is my first blog post. This is made possible using Django framework.
            Finally, the posts can run freely without any obstruction!
          </p>
        </div>

        <div>
          <h3>My second post</h3>
          <p>I made a huge mistake. I thought I would be able to keep up witht he demand. But since the
            audience are too hooked on my blogs, they are devouring the posts like there's no tomorrow.
            I think I need help!
          </p>
        </div>

    </body>
</html>
